<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>HTVGRBVW58</string>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>destination</key>
	<string>upload</string>
	<key>authenticationKeyID</key>
	<string>7FPX8JZ4UB</string>
	<key>authenticationKeyIssuerID</key>
	<string>69a6de82-2d44-47e3-e053-5b8c7c11a4d1</string>
	<key>authenticationKeyPath</key>
	<string>/Users/miguel/.appstoreconnect/private_keys/AuthKey_7FPX8JZ4UB.p8</string>
</dict>
</plist>
